.Project-container {
    width: var(--size-large);
    margin: 2rem 0;
    flex-direction: column;
  }
  
  .Project-container .project-info{
    padding: var(--display-9);
  }
  
  .Project-container .project-info:nth-child(odd){
    flex-direction: row-reverse;
  }
  
  
  .Project-container .project-info .project-header{
    flex-direction: column;
    align-items: flex-start;
  }
  
