.Contact {
  width: var(--size-full);
  flex-direction: column;
  align-items: flex-start;
  min-height: 20rem;
  background: var(--linear-color-6);
  margin-bottom: 5rem;
  box-shadow: var(--button-box-shadow);
  justify-content: space-evenly;
  padding: var(--display-1);
}
.Contact h2 {
  width: var(--size-full);
  color: var(--card-light);
  text-align: start;
}

.Contact .form-container {
  flex-direction: column;
}
.Contact .form-container .contact-info{
    justify-content: flex-start;
}

.Contact .form-container p,
.Contact .form-container .icon {
    color:var(--card-light)
  }
  
.Contact .form-container .contact-form {
  flex-direction: column;
  position: none;
}
.Contact .form-container .contact-form input {
  width: var(--size-full);
  border: var(--border-white);
  outline: none;
  background: transparent;
  padding: var(--display-9);
}
.Contact .form-container .contact-form input,
.Contact .form-container .contact-form textarea {
  border-radius: 15px;
  font-size: 1.2rem;
}

.Contact .form-container .contact-form input::placeholder,
.Contact .form-container .contact-form textarea::placeholder {
  color: var(--white-bg);
}

.contact-form textarea {
  background: transparent;
  padding: var(--display-9);
  border: var(--border-white);
  outline: none;
  color: var(--white-bg);
  width: var(--size-full);
  resize: none;
}


.btn-send{
    position: relative;
    top: 0;
    width: var(--size-full);
    padding: var(--display-9);
    border:  var(--white-button-border);
    outline: none;
    background: transparent;
    border-radius: 16px;
}
.btn-send span{
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.1s top  ease-in-out;
    color: var(--white-bg);
}

.btn-send:active{
    top: 0.2rem;
   
}

.contact-icon{
    display: none;
}

@media screen and (min-width:270px ){
    .contact-icon{
        display: flex;
    }
}
@media screen and (min-width:600px ) {
    .Contact {
        width: var(--size-xl);
        flex-direction: row;
        padding: 1.5rem 1rem;
      
      }
}

@media screen and (min-width:900px ) {
    .Contact {
        align-items: flex-start;
        width: var(--size-large);
        padding: 1rem 2rem;
      }
}

@media screen and (min-width:1200px ) {
    .Contact {
        width: var(--size-small);
        padding: 2rem 4rem;
      }
}