h4{
    width: var(--size-full);
    
}
.footer-side{
    flex-direction: column;
    align-items: flex-start;
}


.footer-side .footer-item{
    flex-direction: column;
    align-items: flex-start;
}

.footer-side .map iframe{
    width: var(--size-full);
    border: 1px solid rgb(168, 165, 165);
}

@media screen and (min-width: 400px ) {
    .footer-side .map iframe{
        width: var(--size-full);
        
    }
  }
  
  @media screen and (min-width: 800px ) {
    .footer-side .map iframe{
        width: 600px;
        height: 400px;
    }
  }