.main{
   flex-direction: column;
   align-items: center;
}

header {
  flex-direction: column-reverse;
  width: var(--size-full);
  justify-content: space-around;
  height: max-content;
  margin-bottom: 3rem;
 
}
header .header-content {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
 
}
header .header-content .header-content-text {
  flex-direction: column;
  max-width: 20rem;
  gap: 0.3rem;
}
header .header-content .header-content-text h2,
header .header-content .header-content-text h3 {
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
   color: transparent;
}
header .header-content .header-content-text h2{
    font-size: 1.7rem;
    background-image: var(--linear-color-1);
}
header .header-content .header-content-text h3 {
  font-weight: 500;
  background-image: var(--linear-color-2);
}
header .header-content .soccial-icons {
  justify-content: flex-start;
  max-width: 20rem;
}
header .header-content .soccial-icons a {
  color: var(--icon);
}
header .header-content .soccial-icons a:hover {
  color: var(--dark-color);
}

header .header-logo {
  width: var(--size-full);
  
}

header .header-logo .img-background{
 background: var(--linear-color-2);
 border-bottom-left-radius: 8px;
 border-top-right-radius: 8px;
 border-bottom-right-radius: 12rem;
 border-top-left-radius: 12rem;
 box-shadow: var(--box-shadow-1);
 position: relative;
 z-index: -1;
 transform: rotate(30deg);
 width: 5rem;
 height: 8rem;
 left: 3.2rem;
 top: 3.5rem;
}




header .header-logo img {
  width: 100px;
  position: relative;
  right: 3.2rem;
  z-index: -1;
}


.project-btn {
  position: relative;
  top: 1rem;
  right: 0;
  background: var(--linear-button);
  padding: var(--display-9);
  color: var(--light-color);
  border-radius: 2px;
}
.project-btn:active {
  top: 1.4rem;
  box-shadow: var(--button-box-shadow);
  transition: 0.4s ease-in-out;
}
.project-btn:hover {
  color: var(--light-color);
}

@media screen and (min-width: 300px ) {
  header .header-logo .img-background{
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
    width: 7rem;
    height: 10.5rem;
    left: 4.5rem;
    top: 5rem;
   }

 header .header-logo img {
  width: 150px;
  right: 5.1rem;
}
}




@media screen and (min-width: 400px ) {
  header .header-content {
   padding: 0;
  }
 
  header .header-logo .img-background{
    width: 10rem;
    height: 15rem;
    left: 8.5rem;
    top:5rem;
  }
  header .header-logo img {
    width: 200px;
  }
}



@media screen and (min-width: 800px ) {
    header{
       flex-direction: row;
       margin-bottom: 0;
    }
    header .header-content {
      margin-left: 2.5rem;
    }
    .project-btn {
      right: 3.5rem;
    }
    header .header-logo .img-background{  
     left: 9rem;
     top:5rem;
    }
    
    header .header-logo img {
     right: 5rem;
    }
}


