.skill-content{
    flex-direction: column;
    align-items: center;
  
}
.skill-content h2 {
  width: var(--size-full);
      text-align: center;
    }
  
.skill-content h4{
    width: 4.5rem;
    white-space: nowrap;
}
.skill-content h5{
    white-space: nowrap;
}
.skill-content h2, h4 ,h5{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: var(--linear-color-4);
}

.skill-content .skillcard-container{
  flex-direction: column;
}
.skill-content .skill-container{
    width: var(--size-xxl);
    flex-direction: column;
    gap:0.6rem
}

.skill-content .skill-container .skill-item {
    justify-content: space-around;
    
    gap: 0.2rem;
    flex-direction: column;
    
  }
.skill-content .skill-container .skill-item  .skill-item-header{
    justify-content: flex-start;
    align-items: center;
    gap: 0;
}
  .skill-content .skill-container  .progress-bar {
    width: var(--size-full);
    height: 1rem;
    border: 1px solid #999fac;
    box-shadow: var(--box-shadow-2);
    border-radius: 15px;
    overflow: hidden;
  }
  
  .skill-content .skill-container .progress-bar .progress {
    height:var(--size-full);
    background :var(--linear-color-3);
  }



  @media screen and (min-width: 400px ) {
    .skill-content .skill-container{
        width: var(--size-large);
       
    }
  }
 
  
  @media  screen and (min-width: 900px) {
    .skill-content{
      flex-direction: row;
      align-items: flex-start;
  }
  .skill-content .skill-container{
    width: 400px;
}
 
  }
  @media screen and (min-width: 1200px ) {
    .skill-content {
        width: var(--size-xl);
    }
  }

  @media screen and (min-width: 2000px ) {
    .skill-content {
        width: var(--size-large);
    }
  }