@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider-container h1 {
  width: var(--size-full);
  text-align: center;
  background: var(--linear-color-1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.slider-container {
  width: var(--size-full);
  margin: 1rem auto;
  /* height: 25rem ; */
  padding: 0rem 1rem;
}

.slide img {
  width: 100%;
  box-shadow: var(--container-box-shadow);
  margin: 5rem auto;
}
.slide img:active {
  border: none;
  cursor: pointer;
}

.slide {
  transform: scale(0.1);
  transition: transform 300ms;
  opacity: 0.1;
}

.activeSlide {
  transform: scale(2);
  opacity: 1;
}

.arrow {
  background: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
  color: rgb(6, 34, 37);
}

.arrow svg:hover {
  color: rgb(6, 34, 37);
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 12rem;
    box-shadow: var(--container-box-shadow);
    margin: 10rem auto;
    padding: 1rem;
  }
  .slide {
    transform: scale(0.2);

    opacity: 0.5;
  }
  .activeSlide {
    transform: scale(1.6);
    opacity: 1;
  }
}

@media screen and (min-width: 900px) {
  .slide img {
    width: 13rem;
    box-shadow: var(--container-box-shadow);
    margin: 10rem auto;
  }
}
@media screen and (min-width: 1200px) {
  .slider-container {
    width: var(--size-small);
  }
  .slide img {
    width: 16rem;
    margin: 12rem auto;
  }
  .activeSlide {
    transform: scale(2);
    opacity: 1;
  }
}
